* text=auto
*.css linguist-vendored = true
*.scss linguist-vendored = true
*.js linguist-vendored = true
*.html linguist-vendored = true
*.blade.php linguist-vendored = true
CHANGELOG.md export-ignore
